In [1]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv('play_tennis.csv')
data.head()
data.drop(columns=['day'], inplace =True)

In [4]:
data

     outlook  temp humidity    wind play
0      Sunny   Hot     High    Weak   No
1      Sunny   Hot     High  Strong   No
2   Overcast   Hot     High    Weak  Yes
3       Rain  Mild     High    Weak  Yes
4       Rain  Cool   Normal    Weak  Yes
5       Rain  Cool   Normal  Strong   No
6   Overcast  Cool   Normal  Strong  Yes
7      Sunny  Mild     High    Weak   No
8      Sunny  Cool   Normal    Weak  Yes
9       Rain  Mild   Normal    Weak  Yes
10     Sunny  Mild   Normal  Strong  Yes
11  Overcast  Mild     High  Strong  Yes
12  Overcast   Hot   Normal    Weak  Yes
13      Rain  Mild     High  Strong   No

In [ ]:
# Problem 1

#Outlook = Sunny, Temp = Hot, Humidity=High, Wind=Weak
#Play or NoPlay?

In [ ]:
#Solution

# P(Yes | Sunny,Hot,High,Weak) = P(Sunny|Yes)*P(Hot|Yes)*P(Weak|Yes)*P(Yes)
# P(No | Sunny,Hot,High,Weak) = P(Sunny|No)*P(Hot|No)*P(Weak|No)*P(No)

#Compare and decide Using the Maximum a posteriori rule

In [ ]:
# Problem 2

# Outlook = Overcast, Temp = Cold, Humidity=Low, Wind=Weak
#Play or NoPlay?

In [ ]:
# solution 2
# P(Yes | Sunny,Hot,High,Weak) = P(Overcast|Yes)*P(Cold|Yes)*P(Low|Yes)*P(Weak|Yes)*P(Yes)
# P(No | Sunny,Hot,High,Weak) = P(Overcast|No)*P(Cold|No)*P(Low|No)*P(Weak|No)*P(No)

#Compare and decide Using the Maximum a posteriori rule

In [ ]:
# Training

#Lookup Table(Dictionary)

#Testing

In [ ]:
#P(Yes)
#P(No)

In [6]:
data['play'].value_counts()

Yes    9
No     5
Name: play, dtype: int64

In [7]:
py = 9/14
pn = 5/14

In [8]:
print(py)
print(pn)

0.6428571428571429
0.35714285714285715

In [9]:
#Outlook

pd.crosstab(data['outlook'],data['play'])

play      No  Yes
outlook
Overcast   0    4
Rain       2    3
Sunny      3    2

In [17]:
poveno=0
poverainno=2/5
povesunnyno=3/5

poveyes=4/9
poverainyes=3/9
povesunnyyes=2/9

In [10]:
#Tempertaure

pd.crosstab(data['temp'],data['play'])

play  No  Yes
temp
Cool   1    3
Hot    2    2
Mild   2    4

In [18]:
PCoolNo = 1/5
PHotNo = 2/5
PMildNo = 2/5

PcoolYes = 3/9
PHotYes = 2/9
PMildYes = 4/9

In [11]:
# Humidity

pd.crosstab(data['humidity'],data['play'])

play      No  Yes
humidity
High       4    3
Normal     1    6

In [12]:
PHighNo = 4/5
PNormalNO = 1/5

PHighYes = 3/9
PNormalYes = 6/9

In [13]:
#Wind

pd.crosstab(data['wind'],data['play'])

play    No  Yes
wind
Strong   3    3
Weak     2    6

In [19]:
PStrNO = 3/5
PWeaNO = 2/5

PStrYes = 3/9
PWeakYes = 6/9

In [23]:
#Outlook = Sunny, Temp = Hot, Humidity=High, Wind=Weak

Pyes = py*povesunnyyes*PHighYes*PHotYes*PWeakYes

In [27]:
print(Pyes)

0.007054673721340388